* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.6;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.4rem 1rem;
  background: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  z-index: 10;
  align-items: center;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.branding {
  font-weight: bold;
  color: #363f5a;
  font-size: 1.5rem;
}
.branding span {
  background: #363f5a;
  font-size: 1.4rem;
  border-radius: 10px;
  color: white;
}
.nav ul {
  display: flex;
}
.nav li {
  list-style: none;
  font-size: 0.9rem;
  padding-right: 1rem;
}
.nav li a {
  text-decoration: none;
  color: #363f5a;
  text-transform: uppercase;
}
.nav li a:hover {
  color: dodgerblue;
}
/* showcase section */
#showcase {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-image: url("../images/img2.jfif");
  /* background-repeat: no-repeat;
  background-size: cover; */
  align-items: center;
}
.showcase-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.showcase-content-left {
  flex: 1;
}
.showcase-content-title {
  width: 400px;
  margin: 2rem 0;
}
.showcase-content-title h3 {
  font-size: 2.3rem;
  line-height: 1.3;
  color: #afafb3;
}
.showcase-content-body p {
  opacity: 0.6;
  color: lightgrey;
}
.btn {
  padding: 0.8rem 2.8rem;
  background: linear-gradient(to bottom, #f7ad4c, #f17d7d);
  display: inline-block;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  margin-top: 1.5rem;
  text-decoration: none;
}
.btn:hover {
  opacity: 0.8;
}

.showcase-content-right {
  flex: 1;
}
.showcase-content-right img {
  width: 700px;
}

/* Our tools section */
.img {
  height: 8rem;
}
#our-tools {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
}
.our-tools-wrapper {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.our-tools-title {
  margin: 0 auto;
  line-height: 1.2;
  position: relative;
}
.our-tools-title::after {
  content: " ";
  position: absolute;
  height: 10px;
  width: 60px;
  background: #6bdd70;
  bottom: -20px;
  margin-left: -30px;
}

.our-tools-title h3 {
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #397af9;
}

.our-tools-body {
  margin-top: 5rem;
  opacity: 0.5;
}
.our-tools-content {
  margin: 4rem 0;
  display: grid;
  grid-gap: 3.5rem;
  grid-template-columns: repeat(3, 150px);
  align-items: center;
  justify-content: space-between;
}
.our-tools-content p {
  opacity: 0.5;
  margin-top: 1rem;
}
/* featured section */

/* video */
.featured-video {
  background-color: #4592f9;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.featured-text .featured-title {
  max-width: 450px;
}
.featured-text .featured-title h3 {
  font-size: 2.5rem;
  margin-bottom: 4rem;
  line-height: 1.3;
  position: relative;
}
.featured-text .featured-title h3::after {
  content: " ";
  position: absolute;
  width: 50px;
  height: 8px;
  background: #50cdf9;
  bottom: -2rem;
  left: 0;
}
.featured-wrapper {
  display: flex;
  /* flex-wrap: wrap;
   flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  min-height: 600px;
  width: 100%;
  padding: 2rem 0;
  /* color: white; */
}
.featured-wrapper .featured-image {
  flex: 1;
}
.featured-wrapper .featured-text {
  flex: 1;
}
.featured-wrapper .featured-image img {
  width: 80%;
}

.featured-video-btn {
  background: #6bdd70;
}

/* website */
.featured-website {
  clip-path: polygon(0 0, 100% 10%, 200% 100%, 0 100%);
  background: #9189f8;
}
.featured-website .featured-wrapper h3::after {
  background: #f17c6c;
}

.featured-website-btn {
  background: #57dbf9;
}

/* logo */
.featured-logo .featured-wrapper .featured-image {
  order: 2;
}
.featured-logo .featured-wrapper .featured-text {
  order: 1;
}
.featured-logo .featured-text {
  color: #333;
}
.featured-logo .featured-wrapper h3::after {
  background-color: #6bdd70;
}
/* testimonial section  */
#testimonial {
  height: 100%;
  width: 100%;
  padding: 2rem 0;
  background-color: #f5fafe;
  margin-bottom: 4rem;
}
.testimonial-title {
  text-align: center;
  color: #397af9;
  font-weight: bold;

  position: relative;
}
.testimonial-title::after {
  content: "";
  height: 8px;
  width: 60px;
  left: 50%;
  background: #f17c6a;
  margin-left: -30px;
  position: absolute;
}
.testimonial-title h3 {
  font-size: 2rem;
}
.testimonial-wrapper {
  background: white;
  max-width: 700px;
  margin: 5rem auto;
  padding: 5rem 2rem;
  display: flex;
  justify-content: space-between;
  color: #333;
  flex-direction: row;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.testimonial-image {
  width: 25%;
}
.testimonial-image img {
  width: 80%;
  height: 90px;
  border-radius: 50%;
}
.testimonial-image h3 {
  color: #397af9;
}
.testimonial-image p {
  font-size: 0.7rem;
  font-weight: bold;
}
.testimonial-text {
  width: 75%;
}

/* newletter */
#newsletter {
  background-color: #397af9;
  padding: 2rem 0;
  color: white;
  text-align: center;
}
.newletter-title {
  font-size: 1.2rem;
  position: relative;
}

.newletter-title p::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 8px;
  background: #50cdf9;
  bottom: -1.5rem;
  left: 50%;
  margin-left: -30px;
}

.newletter-input {
  margin: 4rem auto;
  max-width: 700px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}
.newletter-input input {
  border: none;
  outline: none;
  height: 2.5rem;
  border-radius: 1.25rem;
  text-indent: 15px;
  font-size: 1rem;
  color: #333;
}

.newletter-input input:nth-child(1) {
  flex-basis: 220px;
}
.newletter-input input:nth-child(2) {
  flex-basis: 450px;
}
.newletter-input input:nth-child(3) {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 0;
  color: #fff;
  text-align: center;
  text-indent: 0;
}

/* footer */

footer {
  background-color: #397af9;
  padding: 3rem;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.footer-wrapper .years p {
  font-size: 1rem;
}

.footer-wrapper .icons i {
  font-size: 1.4rem;
  margin-right: 1rem;
  cursor: pointer;
}
